<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TutorResManPlat</display-name>
  <!-- 全站参数配置开始 -->
  <context-param>
  	<description>全站编码配置</description>
  	<param-name>encode</param-name>
  	<param-value>utf-8</param-value>
  </context-param>
  <!-- 全站参数配置结束 -->
  <!-- 监听器配置开始 -->
	<listener>
		<listener-class>com.order.listener.MyHSessionListener</listener-class>
	</listener>
  <!-- 监听器配置结束 -->
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.order.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImg</servlet-name>
    <servlet-class>com.order.web.ValiImg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.order.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.order.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProdServlet</servlet-name>
    <servlet-class>com.order.web.AddProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.order.web.ImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageProdServlet</servlet-name>
    <servlet-class>com.order.web.PageProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>com.order.web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProdServlet</servlet-name>
    <servlet-class>com.order.web.UpdateProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelProdServlet</servlet-name>
    <servlet-class>com.order.web.DelProdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCourierServlet</servlet-name>
    <servlet-class>com.order.web.AddCourierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourierListServlet</servlet-name>
    <servlet-class>com.order.web.CourierListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourierInfoServlet</servlet-name>
    <servlet-class>com.order.web.CourierInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCourierServlet</servlet-name>
    <servlet-class>com.order.web.UpdateCourierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>com.order.web.ProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.order.web.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>com.order.web.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>com.order.web.ClearCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCartServlet</servlet-name>
    <servlet-class>com.order.web.DelCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.order.web.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.order.web.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayInfoServlet</servlet-name>
    <servlet-class>com.order.web.PayInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.order.web.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>com.order.web.SendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderManaServlet</servlet-name>
    <servlet-class>com.order.web.OrderManaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSendServlet</servlet-name>
    <servlet-class>com.order.web.OrderSendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>com.order.web.SignServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSentServlet</servlet-name>
    <servlet-class>com.order.web.OrderSentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelOrderServlet</servlet-name>
    <servlet-class>com.order.web.DelOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCourierServlet</servlet-name>
    <servlet-class>com.order.web.DelCourierServlet</servlet-class>
  </servlet>


















 




  



  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/sys/regist.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImg</servlet-name>
    <url-pattern>/sys/valiImg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/sys/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/sys/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProdServlet</servlet-name>
    <url-pattern>/sys/addProd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/sys/prodImg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageProdServlet</servlet-name>
    <url-pattern>/sys/pageProdList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/sys/prodInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProdServlet</servlet-name>
    <url-pattern>/sys/updateProd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelProdServlet</servlet-name>
    <url-pattern>/sys/delProd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourierServlet</servlet-name>
    <url-pattern>/sys/addCourier.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourierListServlet</servlet-name>
    <url-pattern>/sys/courierList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourierInfoServlet</servlet-name>
    <url-pattern>/sys/courierInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCourierServlet</servlet-name>
    <url-pattern>/sys/updateCourier.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/sys/prodList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/sys/addCart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/sys/changeCart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/sys/clearCart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCartServlet</servlet-name>
    <url-pattern>/sys/delCart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/sys/addOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/sys/orderList.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayInfoServlet</servlet-name>
    <url-pattern>/sys/payInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/sys/pay.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/sys/send.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderManaServlet</servlet-name>
    <url-pattern>/sys/orderMana.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderSendServlet</servlet-name>
    <url-pattern>/sys/orderSend.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/sys/sign.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderSentServlet</servlet-name>
    <url-pattern>/sys/orderSent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelOrderServlet</servlet-name>
    <url-pattern>/sys/delOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCourierServlet</servlet-name>
    <url-pattern>/sys/delCourier.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 过滤器配置开始 -->
   <filter>
		<description>全站乱码过滤器</description>
		<filter-name>encodeFilter</filter-name>
		<filter-class>com.order.filter.EncodeFilter</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>自动登录过滤器</description>
		<filter-name>AutologinFilter</filter-name>
		<filter-class>com.order.filter.AutologinFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutologinFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>权限过滤器</description>
		<filter-name>PrivilegeFilter</filter-name>
		<filter-class>com.order.filter.PrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 过滤器配置结束 -->
  

  <!-- 主页配置 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>